:root {
  /* PRIMARY */
  --green: #00856F;
  --green-light: #DCE9E2;
  --green-light-500: #F7F9F9;
  --beige: #FFFAF1;

  /* SECONDARY */
  --gray-headline: #212529;
  --gray-paragraph: #495057;
  --white: #FFFFFF;
  --black: #000000;

  /* EFFECTS */
  --green-hover: #00453A;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* GLOBAL */

body,
input,
textarea,
button {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.schedule {
  background-color: var(--green);
  color: var(--white);
  font-size: .85rem;
  border-radius: 40px;
  transition: background-color .25s;
  font-weight: bold;
  padding: 1rem 2rem;

  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.schedule:hover {
  background-color: var(--green-hover);
}

.subtitle {
  color: var(--green);
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* ========= HEADER ======== */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header .content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  color: var(--black);
  font-size: 1.3rem;
}

.header .logo strong {
  color: var(--green);
  font-size: 1.25rem;
}

.header .navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .navigation a {
  display: none;
  text-decoration: none;
  color: var(--green);
  font-size: 1rem;
  position: relative;
}

.header .navigation a:hover {
  font-weight: bold;
}

.header .navigation a:after {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateY(700%);
  left: 0;
  background-color: var(--green);
  width: 0;
  height: 3px;
  border-radius: 8px 8px 0 0;
  transition: width .25s;
}

.header .navigation a:hover::after {
  width: 100%;
  left: 0;
}

.header .content>a.schedule_outline {
  text-decoration: none;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 40px;
  font-weight: bold;
  padding: .625rem 1.5rem;
}

.headerActive {
  background-color: var(--green-light);
}

/* ========= HERO ======== */

.hero {
  background-color: var(--green-light);
}

.hero .content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 8.5rem 1rem 9rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.hero .content div {
  max-width: 550px;

  display: flex;
  flex-direction: column;
}

.hero .content div h2 {
  color: var(--gray-headline);
  font-size: 3.25rem;
  line-height: 1.3;
  margin: 1rem 0 1.5rem;
}

.hero .content div p {
  color: var(--gray-paragraph);
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.hero .content img {
  height: 549px;
}

/* ======= SERVICES ====== */

.services {
  background-color: var(--green-light-02);
}

.services>.content {
  max-width: 1120px;
  margin: -11rem auto 0;
  padding: 2rem 1rem 10rem;
}

.services .summary {
  background-color: var(--beige);
  border-radius: 6px;
  padding: 3.75rem 0;
  box-shadow: 1px 1px 2px var(--green-light);
  margin-bottom: 10rem;

  display: grid;
  gap: 1rem;
}

.services .summary div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
}

.services .summary div strong {
  font-size: 2.5rem;
  color: var(--gray-headline);
}

.services .summary div span {
  font-size: 1rem;
  color: var(--green);
}

.services .services_details {
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .services_details>strong {
  text-align: center;
  color: var(--gray-headline);
  font-size: 2.5rem;
  max-width: 500px;
  margin-top: 1rem;
}

.services .services_details .services_list {
  margin-top: 3.5rem;

  display: grid;
  gap: 2.5rem;
}

.service {
  background-color: var(--white);
  box-shadow: 0px 0px 2px var(--green-light);
  border-radius: 6px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--green-light);
  width: 1.5rem;
  height: 1.5rem;
}

.service i {
  color: var(--green);
}

.services .service strong {
  font-size: 1.5rem;
  color: var(--gray-headline);
}

.services .service p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray-paragraph);
}

/* ===== ABOUT ===== */

.about {
  background-color: var(--beige);
}

.about .content {
  max-width: 1120px;
  padding: 10rem 1rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.about .content img {
  order: 2;
  width: 480px;
  width: 414px;
  border-radius: 20px;
}

.about .content div {
  max-width: 573px;
  width: 100%;
}

.about .content div strong {
  display: block;
  margin-top: .625rem;
  margin-bottom: 1.5rem;
  width: 70%;
  font-size: 2.5rem;
  color: var(--gray-headline);
}

.about .content div p {
  line-height: 1.5;
  font-size: 1rem;
  color: var(--gray-paragraph);
}

/* ===== CONTACT ===== */

.contact .content {
  max-width: 1120px;
  padding: 10rem 1rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.contact .content img {
  order: 2;
  width: 575px;
  width: 375px;
  border-radius: 20px;
}

.contact .content div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contact .content div strong {
  font-size: 2.5rem;
  color: var(--gray-headline);
  max-width: 350px;
}

.contact .content div ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style: none;
}

.footer {
  background-color: var(--green);
}

.footer .content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .content strong {
  font-size: 2rem;
  color: var(--white);
}

.footer .content span {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: var(--white);
  display: block;
}


.footer .content ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}


@media (min-width: 728px){
  .hero .content {
    flex-direction: row;
  }

  .header .navigation a {
    display: flex;
  }

  .services .summary {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .services_list {
    grid-template-columns: repeat(3, 1fr);
  }

  .about .content {
    flex-direction: row;
  }

  .about .content div {
    order: 2;
  }

  .contact .content {
    flex-direction: row;
  }
}